/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #310304;
  --clr-primary-2: #4a0406;
  --clr-primary-3: #630609;
  --clr-primary-4: #7b080b;
  /* primary/main color */
  --clr-primary-5: #94090d;
  /* lighter shades of primary color */
  --clr-primary-6: #cb0c12;
  --clr-primary-7: #f22127;
  --clr-primary-8: #f5595d;
  --clr-primary-9: #f89093;
  --clr-primary-10: #fcc8c9;
  /* darkest grey - used for headings */
  --clr-grey-1: #dde0e5;
  --clr-grey-2: #bbc2cb;
  --clr-grey-3: #99a3b0;
  --clr-grey-4: #778596;
  /* grey used for paragraphs */
  --clr-grey-5: #5b6776;
  --clr-grey-6: #4c5662;
  --clr-grey-7: #3d454f;
  --clr-grey-8: #2d333b;
  --clr-grey-9: #1e2227;
  --clr-grey-10: #0f1114;
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-primary-6);
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-5);
  transform: scale(1.025);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.underline {
  width: 5rem;
  height: 4px;
  background: var(--clr-primary-5);
  margin: 0 auto;
}
.light-title {
  color: var(--clr-grey-10);
}
/*
=============== 
Navbar
===============
*/
.nav {
  background: var(--clr-grey-10);
  height: 5rem;
  /* box-shadow: var(--dark-shadow); */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-list .btn {
  background: transparent;
  color: var(--clr-primary-5);
  border: transparent;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  padding: 1rem;
  height: 5rem;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.nav-list .btn:hover {
  color: var(--clr-primary-8);
  border-bottom: 2px solid var(--clr-white);
}
.nav-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--clr-primary-5);
}
.logo-container {
  display: none;
  height: 5rem;
  width: 20rem;
  padding: 0 1rem;
}
.logo-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .nav-list {
    justify-self: end;
  }
  .nav-btn {
    display: none;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  transform: translateX(-100%);
  z-index: 5;
}
.show-sidebar {
  transform: translateX(0);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--clr-primary-5);
  z-index: 6;
}
.side-link .btn {
  width: 100%;
  background: var(--clr-grey-10);
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.side-link .btn:hover {
  background: var(--clr-grey-5);
  padding-left: 2.2rem;
  border-left: 4px solid var(--clr-grey-1);
}
/*
=============== 
Hero
===============
*/
.hero-info .underline {
  margin-left: 0;
}
.hero-section {
  height: 100vh;
  background: var(--clr-grey-10);
  display: grid;
  place-items: center;
  box-shadow: var(--dark-shadow);
}

.hero-info {
  max-width: 350px;
  margin: 0 auto;
}
.hero-info .section-title {
  text-align: start;
}
.hero-info a {
  margin-top: 1rem;
}
@media screen and (max-width: 992px) {
  .hero-img {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
  .hero-img-container,
  .about-img-container {
    width: 300px;
    height: 350px;
    border-radius: var(--radius);
    position: relative;
  }
  .hero-img-container::before,
  .about-img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 0.25rem solid var(--clr-primary-5);
    border-radius: var(--radius);
  }
  .about-img-container img,
  .hero-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: var(--radius);
  }
}
/*
=============== 
About
===============
*/
.section-title {
  text-align: center;
}
.about-info {
  padding: 1rem 1rem;
  max-width: 450px;
  margin: 0 auto;
}
.about-img-container {
  width: 300px;
  height: 350px;
  border-radius: var(--radius);
  margin: 2rem auto;
}
.about-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}
/* @media 992px for image added to hero */
@media screen and (min-width: 992px) {
  .about-center {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }
}
/*
=============== 
Services
===============
*/

/*
=============== 
Projects
===============
*/
.projects {
  background: var(--clr-grey-10);
  box-shadow: var(--dark-shadow);
}
.projects-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 4rem auto;
  max-width: 1000px;
}
.single-project-card {
  width: auto;
  height: 300px;
  margin: 0 auto;
  border-radius: var(--radius);
  position: relative;
  transition: var(--transition);
}

.single-project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  opacity: 0;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--radius);
}
.single-project-card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  border: 4px solid var(--clr-white);
  border-radius: var(--radius);
  color: var(--clr-white);
  opacity: 0;
  transition: var(--transition);
  text-align: center;
}
.single-project-card:hover .single-project-card-info {
  opacity: 1;
  transform: scale(0.85);
}
.single-project-card:hover::before {
  opacity: 0.85;
}
@media screen and (min-width: 675px) {
  .projects-section {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .single-project-card {
    min-width: 400px;
  }
}
@media screen and (min-width: 992px) {
  .projects-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    gap: 1rem;
    grid-template-areas:
      "a a b"
      "a a b"
      "d c c";
  }
  .single-project-card {
    height: 100%;
    width: 100%;
  }
  .project-img {
    height: 100%;
    width: 100%;
  }
  .project-1 {
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}
/*
=============== 
Connect
===============
*/
.contact-container {
  margin: 2rem auto;
  padding: 4rem;
  /* background: var(--clr-grey-10); */
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  max-width: 500px;
  text-align: center;
  transition: var(--transition);
}
.contact-container h4 {
  color: var(--clr-grey-10);
}
.contact-container p {
  color: var(--clr-grey-10);
}
.contact-container span {
  color: var(--clr-primary-5);
  font-size: 1.2rem;
}
.contact-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.contact-footer a {
  color: var(--clr-primary-5);
  font-size: 1.2rem;
  transition: var(--transition);
}
.contact-footer a:hover {
  color: var(--clr-grey-10);
  transform: scale(1.2);
}

/*
=============== 
Footer
===============
*/
.footer {
  background: var(--clr-grey-10);
  height: 10rem;
  display: grid;
  place-items: center;
}
.footer-text {
  text-transform: capitalize;
  font-size: 1rem;
}
.footer-text span {
  color: var(--clr-primary-5);
}
/*
=============== 
Timeline
===============
*/

/*
=============== 
Blog
===============
*/

/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
